
<p>
  <strong>Owner:</strong>
  <%= @vehicle.user.email if @vehicle.user.email.present?%>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @vehicle.condition %>
</p>

<p>
<strong>Features:</strong>
<ul>
<%- @vehicle.features.each do |feature| %>
  <li><%= feature.name %></li>
<%end%>

</ul>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@vehicle.price) %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
