<!DOCTYPE html>
<html>
<head>
  <title>Autotrader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Makes", makes_path %>
<%= link_to "Models", models_path %>
<%= link_to "Vehicles", vehicles_path %>
<%= link_to "Features", features_path %>
<%= yield %>

</body>
</html>
